.root {
    background: color-mod(var(--black--light) l(5%));
	padding: 3rem 0;
}

.main {
    max-width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 21%);
    gap: 2rem;
    justify-content: space-between;
    margin: auto;
    
    @media screen and (max-width: 767px) {
        grid-template-columns: repeat(2, 45%);
    }

    @media screen and (max-width: 400px) {
        grid-template-columns: 1fr;
    }
}