.root {
    display: flex;
    align-items: center;
    border: 1px solid color-mod(var(--white--dark) l(60%));
    border-radius: 0.2rem;
    padding: 0 1rem;
    margin-top: 1.5rem;
}

.icon_container {
    margin-right: 1rem;
}

.input {
    flex: 1;
    border: none;
    color: var(--black--light);
    font-size: 0.95rem;
    padding: 1rem 0;

    &::placeholder {
        color: color-mod(var(--white--dark) l(60%));
    }
}