.footer {
	background: $black;

	&__bar {
		padding: 1.5rem 0;
	}

	&__list-item {
		margin: 0 1rem;
	}

	&__mobile-link-block {
		width: 33.3%;
		margin: 1.5rem 0;
	}

	&__mobile-link-icon {
		width: 3vw;
	}

	&__mobile-link-label {
		font-size: 2.2vw;
	}
}