.form {
	@include coords(0, 0, 0, 0);
	height: 100vh;
	background: rgba(0, 0, 0, 0.75);
	z-index: 20;

	&__wrapper {
		width: 550px;
		margin: 5vw auto 0 auto;
		box-shadow: 0 8px 5px -4px rgba(0, 0, 0, 0.5);
	}

	&__tabs {
		border-radius: 0.4rem 0.4rem 0 0;
	}

	&__login-tab,
	&__register-tab {
		padding: 1.5rem 0;
		font-size: 1.1rem;
	}

	&__login-tab {
		border-top-left-radius: 0.4rem;
	}

	&__register-tab {
		border-top-right-radius: 0.4rem;
	}

	&__container {
		padding: 1.5rem 0;
		border-radius: 0 0 0.4rem 0.4rem;
	}

	&__login,
	&__register {
		width: 90%;
		margin: auto;
		display: none;
	}

	&__field {
		border: 1px solid darken($palewhite, 12%);
		margin-top: 1.5rem;
		padding: 0 1rem;
		border-radius: 0.2rem;
	}

	&__icon-container {
		margin-right: 1rem;
	}

	&__icon {
		width: 20px;
	}

	&__input {
		font-size: 0.95rem;
		padding: 1rem 0;

		&::placeholder {
			color: darken($palewhite, 25%);
		}
	}

	&__submit {
		margin-top: 1.5rem;
		padding: 1rem 0;
		border-radius: 0.2rem;
	}
}