.header {
	@include coords(0, 0, null, 0);
	z-index: 10;

	&__search {
		width: 250px;
		background: transparent;
		margin-right: 1rem;
		padding: 0.45rem 1rem;
		border: 2px solid lighten($black, 7%);
		border-radius: 5rem;
	}

	&__link {
		padding: 1.5rem 1rem;
	}

	&__search-dropdown {
		@include coords(101%, null, null, 0);
		display: none;
		background: #111111;
		padding: 1rem 0;
	}

	&__mobile-search {
		background: lighten($black, 10%);
		padding: 0.45rem;
		border-radius: 0.2rem 0 0 0.2rem;
	}

	&__submit {
		border-radius: 0 0.2rem 0.2rem 0;
	}

	&__search-options {
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 1rem 0;
		margin-top: 0.7rem;
	}

	&__option {
		width: 30%;
	}

	&__option-select {
		background: lighten($black, 5%);
		color: $palewhite;
		padding: 0.45rem;
		margin-top: 0.2rem;
	}
}