.hero {
	background-image: url('https://res.cloudinary.com/dt9ntq5vr/image/upload/w_1146,h_573,e_blur:615/v1592876947/yts-clone/posters/Screen-Shot-2019-12-19-at-12.24.00-PM_xqbknp.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 1;

	&:after {
		content: '';
		position: absolute;
		@include coords(0, 0, 0, 0);
		background: linear-gradient(
			to bottom,
			rgba(29,29,29,0.65) 0,
			rgba(29,29,29,1) 100%
		);
		z-index: -1;
	}

	&__head {
		padding-top: 5.5rem;
	}

	&__title {
		font-size: 3vw;
		text-shadow: 1px 2px 5px #111;
	}

	&__subtitle {
		width: 58%;
		margin: auto;
		font-size: 1.25vw;
		padding: 1.5rem 0;
	}

	&__popular-header {
		padding-bottom: 1.5rem;
	}

	&__cards {
		padding: 1.5rem;
	}
}