.movies {
	background: darken($paleblack, 5%);
	padding: 3rem 0;

	&__main {
		display: flex;
		align-content: space-between;
		justify-content: space-around;
		flex-wrap: wrap;
		padding: 0 1.5rem;
	}
}