button.button--green,
input[type='submit'].button--green {
	background: $green;
	cursor: pointer;

	&:hover {
		background: darken($green, 10%);
	}
}

button.button--orange {
	background: $orange;

	&:hover {
		background: darken($orange, 10%);
	}
}