.card {
	width: 21%;

	&:nth-child(8),
	&:nth-child(7),
	&:nth-child(6),
	&:nth-child(5) {
		margin-top: 1rem;
	}

	.image-container {
		border: 6px solid $white;
		border-radius: 0.3rem;
		overflow: hidden;

		&:hover {
			border-color: $green;

			.overlay {
				opacity: 1;

				.button {
					transform: translateY(0);
				}
			}
		}
	}

	.overlay {
		@include coords(0, null, null, 0);
		height: 100%;
		background: rgba(0, 0, 0, 0.8);
		opacity: 0;
		transition: opacity 250ms ease-in-out;
	}

	.button {
		transform: translateY(30%);
		transition: transform 250ms ease-in-out;
	}

	.info {
		padding: 10% 0;
	}

	.title {
		margin: 0.2rem 0 0.2rem 0.2rem;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	.year {
		margin: 0.2rem 0 0.2rem 0.2rem;
	}
}