.center {
	max-width: 90%;
	margin: auto;
}

.section-header {
	padding-bottom: 1.5rem;
}

.star {
	width: 20px;
}

.button {
	width: 120px;
	padding: 0.8rem;
	border-radius: 0.3rem;
}

.ribbon {
	@include coords(1vw, null, null, -3.4vw);
	width: 12.5vw;
	font-size: 1.7vw;
	padding: 0.2rem 0;
	z-index: 1;
	transform: rotate(-40deg);
}