@media (min-width: 768px) {
	.footer__mobile-block {
		display: none;
	}
}

@media (max-width: 767px) {
	.footer {

		&__list {
			display: none;
		}

	}
}

@media (max-width: 540px) {
	.footer__mobile-link-icon {
		width: 1rem;
	}
	.footer__mobile-link-label {
		font-size: 0.7em;
	}
}