@media (max-width: 977px) {
	.header {
		&__right {
			display: none;
		}

		&__logo-image {
			width: 14.5vw;
		}
		&__mobile-icon {
			width: 3vw;
		}

		&__mobile-right {
			display: block;
		}

		&__mobile-nav {
			display: flex;
		}

		&__mobile-link {
			display: block;
			padding: 1rem;
		}
	}
}

@media (max-width: 540px) {
	.header {
		&__logo-image {
			width: 5rem;
		}
		&__mobile-icon {
			width: 1rem;
		}
		&__mobile-link {
			padding: 1rem 0.7rem;
		}
	}
}