* {
	outline: none;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

html, body, h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

a[href] {
	text-decoration: none;

	&.link:hover {
		color: lighten($gray, 25%);
	}
}

ul {
	margin: 0;
	padding: 0;
}

img:not([src$='star.svg']):not([class='footer__mobile-link-icon']) {
	display: block;
}