@font-face {
	font-family: 'Roboto';
	font-weight: 400;
	font-style: normal;
	src: url('../assets/fonts/Roboto-Regular.otf') format('opentype');
	src: url('../assets/fonts/Roboto-Regular.ttf') format('truetype'),
			 url('../assets/fonts/Roboto-Regular.woff') format('woff'),
			 url('../assets/fonts/Roboto-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Roboto Light';
	font-weight: 300;
	font-style: normal;
	src: url('../assets/fonts/Roboto-Light.otf') format('opentype');
	src: url('../assets/fonts/Roboto-Light.ttf') format('truetype'),
			 url('../assets/fonts/Roboto-Light.woff') format('woff'),
			 url('../assets/fonts/Roboto-Light.woff2') format('woff2');
}

@font-face {
	font-family: 'Roboto Bold';
	font-weight: 700;
	font-style: normal;
	src: url('../assets/fonts/Roboto-Bold.otf') format('opentype');
	src: url('../assets/fonts/Roboto-Bold.ttf') format('truetype'),
			 url('../assets/fonts/Roboto-Bold.woff') format('woff'),
			 url('../assets/fonts/Roboto-Bold.woff2') format('woff2');
}