.main {
    border: 6px solid var(--white);
    border-radius: 0.3rem;
    overflow: hidden;
    position: relative;
    cursor: pointer;

    &:hover {
        border-color: var(--accent--primary);

        & > .overlay {
            opacity: 1;

            & :is(.details_button, .view_imdb_button) {
                transform: translateY(0);
            }
        }
    }
}

.image {
    width: 100%;
}

.quality {
    position: absolute;
    top: 1vw;
    left: -3.4vw;
	width: 12.5vw;
	font-size: 1.5vw;
    font-weight: 700;
    color: var(--white);
    text-align: center;
	padding: 0.2rem 0;
	z-index: 1;
	transform: rotate(-40deg);

    @media screen and (max-width: 767px) {
        top: 1.7vw;
        left: -4.5vw;
        width: 18vw;
        font-size: 2.2vw;
    }

    @media screen and (max-width: 400px) {
        top: 3vw;
        left: -6vw;
        width: 29vw;
        font-size: 4vw;
    }
}

.quality__720 {
    background: var(--ribbon--720);
}

.quality__1080 {
    background: var(--ribbon--1080);
}

.quality__4k {
    background: var(--ribbon--4k);
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transition: opacity 250ms ease-in-out;
}

.overlay_text {
    font-size: 24px;
    color: var(--white);
    text-align: center;
    padding: 10% 0;
}

.title {
    display: block;
    font-weight: 700;
    margin: 0.2rem 0 0.2rem 0.2rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.year {
    color: var(--gray);
    margin: 0.2rem 0 0.2rem 0.2rem;
}

.details_button_container {
    text-align: center;
    padding: 10% 0;
}

.button {
    width: 120px;
    color: var(--white);
    font-weight: 700;
	padding: 0.8rem;
    border: none;
	border-radius: 0.3rem;
    cursor: pointer;
    transform: translateY(30%);
    transition: transform 250ms ease-in-out;
}

.details_button {
    background: var(--accent--primary);
    
    &:hover {
        background: color-mod(var(--accent--primary) l(40%));
    }
}

.view_imdb_button {
    background: var(--accent--secondary);

    &:hover {
        background: color-mod(var(--accent--secondary) l(40%));
    }
}