.no-border {
	border: none;
}

.bordered {
	border-width: 1px;
	border-style: solid;
}

.bordered--top {
	border-top-width: 1px;
	border-top-style: solid;
}

.bordered--bottom {
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

.brdr--clear {
	border-color: rgba(255,255,255,.1);
}