// TEXT & ICONS
.text--gray {
	color: $gray;
}

.text--white {
	color: #fff;
}

a.link:hover {
	color: lighten($gray, 25%);
}

.palewhite {
	color: $palewhite;

	&:hover {
		color: $gray;
	}
}


// BUTTON
button.button--green,
input[type='submit'].button--green {
	background: $green;
	cursor: pointer;

	&:hover {
		background: darken($green, 10%);
	}
}

button.button--orange {
	background: $orange;

	&:hover {
		background: darken($orange, 10%);
	}
}


// RIBBON
.ribbon--blue {
	background: $ribbon-720;
}

.ribbon--black {
	background: $ribbon-1080;
}