.flex--1 {
	flex: 1;
}

.ai--center {
	align-items: center;
}

.jc--between {
	justify-content: space-between;
}

.jc--around {
	justify-content: space-around;
}

.jc--center {
	justify-content: center;
}

.flex--column {
	flex-direction: column;
}

.flex--wrap {
	flex-wrap: wrap;
}