.text--bold {
	font-weight: 700;
	font-size: 15px;
}

.text--left {
	text-align: left;
}

.text--right {
	text-align: right;
}

.text--center {
	text-align: center;
}

.text--gray {
	color: $gray;
}

.text--white {
	color: #fff;
}

.text--palewhite {
	color: $palewhite;

	&:hover {
		color: $gray;
	}
}